<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was Created by David. It uses data from Mapbox.com and Weatherstack</p>
        <img class="portrait" src="/img/robot.png" alt="">
    </div>

    {{>footer}}
</body>

</html>